{% extends 'base.html' %}
{% block content %}

{% if s1: %}
        <table class="table">
                <tr>
                        <th>CUSTOMER ID</th>
                        <th>CUSTOMER NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE NO.</th>
                        <th>CITY</th>
                        <th>STATE</th>
                        <th>COUNTRY</th>
                        <th>OUTSTANDING AMOUNT</th>
                    </tr>
            {% for s in s1 %}
            <tr>
              <th>{{ s[0] }}</th>
              <th>{{ s[1] }}</th> 
              <th>{{ s[2] }}</th>
              <th>{{ s[3] }}</th>
              <th>{{ s[4] }}</th> 
              <th>{{ s[5] }}</th>
              <th>{{ s[6] }}</th> 
              <th>{{ s[7] }}</th>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}