{% extends 'base.html' %}
{% block content %}

{% if s1: %}
<table class="table">
    
    <tr>
      <th>ID</th>
      <th>STOCK NAME</th>
      <th>QUANTITY</th>
      <th>MINIMUM QUANTITY</th>
      <th>SELLING PRICE</th>
      <th>COST PRICE</th>
  </tr>
  {% for s in s1 %}
    <tr>
        <th>{{ s[0] }}</th>
        <th>{{ s[1] }}</th> 
        <th>{{ s[2] }}</th>
        <th>{{ s[3] }}</th>
        <th>{{ s[4] }}</th> 
        <th>{{ s[5] }}</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}