{% extends 'base.html' %}
{% block content %}

{% if s1: %}
<table style="width:100%;
border-collapse: separate;
border-spacing: 2px;
border-color: brown;
border: 1px solid black;
background-color: #aaaa88">
    
    <tr>
      <th>ID</th>
      <th>STOCK NAME</th>
      <th>QUANTITY</th>
      <th>MINIMUM QUANTITY</th>
      <th>SELLING PRICE</th>
      <th>COST PRICE</th>
  </tr>
  {% for s in s1 %}
    <tr>
        <th>{{ s[0] }}</th>
        <th>{{ s[1] }}</th> 
        <th>{{ s[2] }}</th>
        <th>{{ s[3] }}</th>
        <th>{{ s[4] }}</th> 
        <th>{{ s[5] }}</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}