{% extends 'base.html' %}
{% block content %}

<h1>customer entry</h1>
    <form action="" method="post" novalidate>
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.customerName.label }}<br>
            {{ form1.customerName(size=32) }}<br>
        </p>
        <p>
            {{ form1.customerEmail.label }}<br>
            {{ form1.customerEmail(size=32) }}<br>
        </p>
        <p>
            {{ form1.customerPhonenumber.label }}<br>
            {{ form1.customerPhonenumber(size=32) }}<br>
        </p>
        <p>
            {{ form1.stockName.label }}<br>
            {{ form1.stockName(size=32) }}<br>
        </p>
        <p>
            {{ form1.qty.label }}<br>
            {{ form1.qty(size=32) }}<br>
        </p>
        <p>
            {{ form1.value.label }}<br>
            {{ form1.value(size=32) }}<br>
        </p>
        <p>
            {{ form1.amount.label }}<br>
            {{ form1.amount(size=32) }}<br>
        </p>
        <p>
            {{ form1.paid.label }}<br>
            {{ form1.paid(size=32) }}<br>
        </p>
        <p>{{ form1.submitPaymentEntry() }}</p>
    </form>

<hr>

<h1>customer update</h1>
    <form action="" method="post" novalidate>
        {{ form2.hidden_tag() }}
        <h2>where</h2>
        <p>
            {{ form2.id.label }}<br>
            {{ form2.id(size=32) }}<br>
        </p>
        <h2>update</h2>
        <p>
            {{ form2.customerName.label }}<br>
            {{ form2.customerName(size=32) }}<br>
        </p>
        
        <p>
            {{ form2.customerPhonenumber.label }}<br>
            {{ form2.customerPhonenumber(size=32) }}<br>
        </p>
        <p>
            {{ form2.stockName.label }}<br>
            {{ form2.stockName(size=32) }}<br>
        </p>
        <p>
            {{ form2.value.label }}<br>
            {{ form2.value(size=32) }}<br>
        </p>
        <p>
            {{ form2.amount.label }}<br>
            {{ form2.amount(size=32) }}<br>
        </p>
        <p>
            {{ form2.paid.label }}<br>
            {{ form1.paid(size=32) }}<br>
        </p>
        <p>{{ form2.submitPaymentUpdate() }}</p>
    </form>

<hr>

<h1>payment search</h1>
    <form action="" method="post" novalidate>
        {{ form3.hidden_tag() }}
        <p>
            {{ form3.stockName.label }}<br>
            {{ form3.stockName(size=32) }}<br>
        </p>
        <p>
            {{ form3.lbqty(size=10) }}
            <= quantity <=
            {{ form3.ubqty(size=10) }}
        </p>
        <p>
            {{ form3.lbvalue(size=10) }}
            <= value <=
            {{ form3.ubvalue(size=10) }}
        </p>
        <p>
            {{ form3.lbamount(size=10) }}
            <= amount <=
            {{ form3.ubamount(size=10) }}
        </p>
        <p>
            {{ form3.lbpaid(size=10) }}
            <= amount paid <=
            {{ form3.ubpaid(size=10) }}
        </p>
        <p>{{ form3.submitPaymentSearch() }}</p>
    </form>


<hr>

    {% if s1: %}
        <table style="width:100%">
            {% for s in s1 %}
            <tr>
              <th>{{ s[0] }}</th>
              <th>{{ s[1] }}</th> 
              <th>{{ s[2] }}</th>
              <th>{{ s[3] }}</th>
              <th>{{ s[4] }}</th> 
              <th>{{ s[5] }}</th>
              <th>{{ s[6] }}</th>
              <th>{{ s[7] }}</th> 
              <th>{{ s[8] }}</th>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}